[submodule "ext/nanovg"]
    path = ext/nanovg
    url = https://github.com/wjakob/nanovg
[submodule "ext/nanovg_metal"]
    path = ext/nanovg_metal
    url = https://github.com/wjakob/nanovg_metal
[submodule "ext/glfw"]
    path = ext/glfw
    url = https://github.com/wjakob/glfw
[submodule "ext/enoki"]
    path = ext/enoki
    url = https://github.com/mitsuba-renderer/enoki
