*.exe
*.lib
*.cmake
.DS_Store
ext_build
nanogui_resources.*
build
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile
bin2c
example[1-9]
icons
*~
nanogui*.so
nanogui*.pyd
libnanogui.so
libnanogui.dylib
.vscode/

# html documentation specific
docs/_build
docs/doxyoutput
docs/generated_api

# python build-specific
*.py[cod]
*.egg-info
_build/
_generate/
